<?php

$MESS[{{MODULE_ID}}.NAME] = '{{MODULE_NAME}}';
$MESS[{{MODULE_ID}}.DESCRIPTION] = '{{MODULE_DESCRIPTION}}';
$MESS[{{MODULE_ID}}.NAME] = '{{MODULE_NAME}}';
$MESS[{{MODULE_ID}}.NAME] = '{{MODULE_NAME}}';
$MESS[{{MODULE_ID}}.NAME] = '{{MODULE_NAME}}';